@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0;
    background-color: #37485D;
}
div {
    display:flex;
}
#container {
    justify-content: space-between;
    background-color: #37485D;
}

ul {
    margin: 0;
}
nav{
    width:80%;
    overflow:hidden;
    height:60px;
    background-color:#1b2035;
}

.nav2 {
  width: 100%;
  position: relative;
  padding: 0rem 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a{
    text-decoration:none;
    color:#fff;
    font-size:15px
}

.nav2>ul li {
  float: left;
  padding: 0.5rem;
  line-height: 30px;
}

.nav2>a {
  display: block; /* a태그는 글자성격 = inline */
  float: left;
  font-size: 30px;
  font-weight: 900;
  line-height: 60px;
}

img {
    width: 450px;
    height: 200px;
    object-fit: contain;
}

.nav2>ul{
    float: right;
    list-style: none;
    padding: 0;
}

ul li{
    margin: 0;
    font-size: 1.1rem;
}

ul li label{
    cursor: pointer;
}


button{
    width:100%;
    background-color: #0078FF;
    color: white;
    font-weight: bold;
    display: block;
    padding-top : 0.5rem;
    padding-bottom : 0.5rem;
    padding-left : 1.1rem;
    padding-right : 1.1rem;
    border: none;
    font-size: 1.1rem;
    border-radius: 0.25rem;
    transition: color .08s ease-in-out, background-color .08s ease-in-out, border-color .08s ease-in-out, box-shadow .08s ease-in-out;
}

button:active {
  background-color: #0053f4;
}


#markdown-content {
    padding: 0rem 2rem 2rem 2rem;
    flex-direction: column;
    align-items: stretch;
}

#left-box {
    flex-direction: column;
    align-items: stretch;
    min-height: 40.3rem;
    overflow-y: auto;
    width: 40%;
    height: 40.3rem;
    background-color: #263747;
    color: white;
    margin-right: 0.1rem;
}

#left-box::-webkit-scrollbar {
    width: 10px;
}

#left-box::-webkit-scrollbar-thumb {
    background-color: #708090;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

#left-box::-webkit-scrollbar-track {
    background-color: #00ff0000;
}

#right-box {
    flex-direction: column;
    align-items: stretch;
    width: 60%;
    color: #6c757d;
}


#resetBtn {
    background-color: #708090;
}

#resetBtn:active {
    background-color: #343a40;
}
